@using OLLLibrarySystem.WebUI.Models
@model BookStatusView

<div class="well">

    @if (Model.book.PhotoData != null)
    {
        <div class="pull-left" style="margin-right: 10px">
            <img class="img-thumbnail" width="75" height="75"
                 src="@Url.Action("GetImage", "Book",
                new { Model.book.BookID })" />
        </div>
    }

        <h3>
            <strong><I>@Model.book.BookTitle</I></strong>
            <span class="lead">by @Model.book.Author</span>
            <span class="label label-warning pull-right">@Model.status</span>

        </h3>
    @using (Html.BeginForm("AddToCart", "Cart"))
    {

        <div class="pull-right">
            @Html.Hidden("bookId", Model.book.BookID)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Add to cart" />
        </div>
    }


    <span class="lead"> @Model.book.Description</span>
    <span class="lead">@Model.location</span>

</div>