@model OLLLibrarySystem.Domain.Entities.Book

<div class="well">
    <h3>
        <strong><I>@Model.Title</I></strong>
        by @Model.Author
        <span class="pull-right label label-primary">@Model.CheckedOutInID</span>
    </h3>

    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="pull-right">
            @Html.HiddenFor(x => x.BookID)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Add to cart" />
        </div>
    }

    <span class="lead"> @Model.Description</span>
</div>