@using OLLLibrarySystem.Domain.Entities
@model IEnumerable<Book>

@{
    ViewBag.Title = "Lourdes Academy Books";
}

@foreach (var p in Model)
{
    <div>
        <h3>@p.Title</h3>
        @p.Description
        @p.Author
        <h4>@p.CheckedOutIn</h4>
    </div>
}

@*<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>*@
