@using OLLLibrarySystem.Domain.Entities
@model OLLLibrarySystem.WebUI.Models.BookListViewModel

@{
    ViewBag.Title = "Lourdes Academy Books";
}

@foreach (var p in Model.Book)
{
<div class="well">
    <h3>
        <strong><I>@p.Title</I></strong>
        by @p.Author
        <span class="pull-right label label-primary">@p.CheckedOutInID</span>
    </h3>
    <span class="lead"> @p.Description</span>
</div>
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>
