@model OLLLibrarySystem.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Lourdes Academy Library: Your Book Bag";
}

<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>

<h2>What is in your book bag?</h2>
<table id="cartTable" class="table">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th class="text-right">Order Value</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
        <tr>
            <td class="text-center">@line.Quantity</td>
            <td class="text-left">@line.Book.BookTitle</td>
            <td class="text-right">@line.Book.ReplacementCost.ToString("c")</td>
            <td class="text-right">
                @((line.Quantity * line.Book.ReplacementCost).ToString("c"))
            </td>
            <td>
                @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("BookId", line.Book.BookID)
                        @Html.HiddenFor(x => x.ReturnUrl)
                         <input class="btn btn-sm btn-warning"
                                type="submit" value="Remove" />
                    }
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @*@Model.Cart.ComputeTotalValue().ToString("c")*@
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>
    @Html.ActionLink("Checkout now", "Checkout", null, new { @class = "btn btn-primary"})
</div>
